@import "../Ostatne/farby.css";

.li {
  background-color: var(--secondary);
  border-radius: 10px;
  height: 50px;
  display: flex;
  margin: 10px 0 10px 0;  
  animation: zmazat 0.2s paused forwards;
  transition: 0.3s;
}

.li:hover {
  background-color: var(--select);
}

@keyframes zmazat {
  to {
    height: 0;
    margin: 0;
    padding: 0;
    line-height: 0;
    opacity: 0;
  }
}

.li h3 {
  margin: 10px 0 10px 15px;
  font-size: x-large;
}

.link {
  color: var(--text);
  width: 100%;
  text-decoration: none;
}

.link_delete {
  color: var(--text);
}
