.ul {
  list-style: none;
  padding-left: 0;
  padding-top: 20px;
  width: 75%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .ul {
    width: 95%;
  }
}

.nic {
  text-align: center;
  color: var(--text-secondary);
  margin-top: 10px;
}